# Entornos virtuales
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno / secretos
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Descargas temporales
data/raw/clima/senamhi/senamhi_descarga_parcial.csv